
<body class="d-flex h-100 text-center text-bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Maestros ITLA</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
      </nav>
    </div>
  </header>

  <main class="px-3">
    <h1>About Us.</h1>
    <div class="container-xxl" style='background: white; padding: 30px' >
    <p class="lead">This page was created as a final project that from the beginning was a fairly high idea compared to the level of knowledge we had before starting this project and making it a reality.

                In my mind it was something spectacular, but it was obvious that with little experience as a beginner I was going to be able to achieve everything, however, the result exceeded my expectations and my limits, helping me to improve myself and get a little of the potential that we all have inside.

                Let this small and first project be a boost for all those who are afraid to start "Puyar su computadora" and dare to get out and explore in the beautiful, creative and stressful world of programming.

               <p class="lead"> All this with the help of youtube, google.</p>
                <p class="lead">Made with love and stress</p>
                <br/>
                <br/>
               <p class="lead-strong"> Hamashia Sosa and John Guzman</p>
                
        </main>     
        <footer>
            <p class="text-center text-muted">© 2022 by Hamashia Sosa and John Guzman</p>
        </footer>
</body>
</p>
</div>
