<div class="login-box">
  <img class="avatar" src="images/developer.png" />
  <h1>Credentials</h1>

  <form action="/auth/login" method="POST">
    <!-- E-mail -->
    <label for="Email">E-mail</label>
    <input  id="Email" name="Email" type="text" placeholder="Enter Email"/>

    <!-- Password -->
    <label for="password">Password</label>
    <input id="password" name="password" type="password" placeholder="Enter your password"/>

    <!-- button -->
    <input type="submit" value="Login"/>
    
    
  </form>
</div>