 <div class="login-box">
        <img class="avatar" src="images/developer.png">
        <h1>Create Account</h1>

        <form action="/auth/create" method="POST">
            <!-- Correo -->
            <label for="Correo Electronico">E-mail</label>
            <input id="email" name="email" type="email" placeholder="Enter mail">

            <!-- Username -->
            <label for="Username">Username</label>
            <input id="username" name="username" type="text" placeholder="Enter Username">

            <!-- Password -->
            <label for="password"> Password</label>
            <input id="password" name="password" type="password" placeholder="Enter your password">

            <!-- BirthDay-->
            <label for="BirthDay"> Birthday</label>
            <input id="birthday" name="birthday" type="date" placeholder="Enter your BirthDay">

            <!-- button -->
            <input type="submit" value="Create new account">
            <a href="/login">Have an account already? </a>
        </form>
        <footer>
            <p class="text-center text-muted">© 2022 by Hamashia Sosa and John Guzman</p>
        </footer>

    </div>
   
